[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = https://github.com/datacobra/hugo-vitae.git
[submodule "themes/ink"]
	path = themes/ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
